/* ----------------
    Styles for Sports info
--------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    margin: 40px;
}
.header-area{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: #fff;
    padding: 0 0 70px;
    border-radius: 20px;
    background: #161616;
}
.container{
    max-width: 1321px;
    margin: 0 auto;
}
.header-text{
    width: 531px;
    height: 424px;
}
.header-text h2{
    font-size: 60px;
    line-height: 80px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.header-text p{
    margin-bottom: 30px;
}

.watch-live-btn{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    border-radius: 5px;
    padding: 8px 20px;
    border: 0;
    background-color: #DD0000;
}
.header-img img{
    position: relative;
    top: 115px;
    right: 100px;
}