/* ----------------
    Styles for Sports info
--------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* ---------------------------------
            Header Styles
------------------------------------ */
header{
    margin: 40px 20px;
}
.header-area{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    padding: 0 0 70px;
    border-radius: 20px;
    background: #161616;
}
.container{
    max-width: 1321px;
    margin: 0 auto;
}
.header-text{
    width: 531px;
    height: 424px;
}
.header-text h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.header-text p{
    margin-bottom: 30px;
}
.watch-live-btn{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    border-radius: 5px;
    padding: 8px 20px;
    border: 0;
    background-color: #DD0000;
}
.header-img img{
    position: relative;
    top: 115px;
    right: 100px;
}
/* -------------------------------
        Styles for blogs
---------------------------------- */
.vartical-menu{
    width: 210px;
    height: 200px;
    padding: 10px 20px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-right: 20px;
}
.vartical-menu .custom-btn{
    padding: 15px 40px;
    margin-top: 10px;
    margin-bottom: 7px;
    border-radius: 10px;
}
.vartical-menu .selected-btn{
    color: #fff;
    cursor: pointer;
    background-color: #DD0000;
}
.blogs-area{
    display: flex;
    margin-bottom: 30px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.blog{
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.blog-detail{
    padding: 20px 10px;
}
.blog-info{
    display: grid;
    grid-template-columns: repeat(1, 1fr) 220px;
}

/* -------------------
    Footer Styles
------------------ */

footer{
    padding: 50px 0;
    background-color: #161616;
}
.logo {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.logo h2{
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
}
.footer-menu ul{
    display: flex;
    justify-content: center;

}
.footer-menu ul li{
    list-style-type: none;
    margin-right: 20px;
}
.footer-menu li a{
    color: #B9B9B9;
    text-decoration: none;
}

/* ----------------------------------
    Media Query for mobile devices
------------------------------------- */
@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    .header-area{
        height: 472px;
        flex-direction: column;
    }
    .header-text{
        width: 258px;
        text-align: center;
    }
    .header-text h2{
        font-size: 22px;
        line-height: 33px;
    }
    .extra-text{
        display: none;
    }
    .header-img img{
        height: 233px;
        position: relative;
        top: 67px;
        right: 0;
    }
    .blogs-area{
        flex-direction: column;
    }
    .vartical-menu{
        width: 100%;
        align-items: center;
        background-color: #fff;
        margin-right: 0;
    }
    .vartical-menu .custom-btn{
        border: 2px solid 
        #E8E8E8;
        font-size: 20px;
        font-weight: 500;
        line-height: 15px;
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    footer{
        padding: 10px 0;
    }
    .footer-menu ul{
        flex-direction: column;
        align-items: center;
    }
    .footer-menu ul li a{
        font-size: 14px;
        display: inline-block;
        margin-bottom: 15px;
    }
}

/* ----------------------------------
    Media Query for table devices
------------------------------------- */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .header-text{
        width: 316px;
        height: 276px;
        padding-left: 76px;
        padding-bottom: 61px;
    }
    .header-text h2{
        font-size: 40px;
        line-height: 50px;
    }
    .header-img img{
        width: 100%;
        position: relative;
        top: 77px;
        right: 8px;
    }
    .extra-text{
        display: none;
    }
    .blogs-area{
       /* flex-direction: column; */
    }
    .vartical-menu{
        margin-bottom: 30px;
        background-color: #fff;
        
    }
    .vartical-menu .custom-btn{
        border: 2px solid #E8E8E8;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px; 
    }
    .blogs{
        grid-template-columns: repeat(2, 1fr);
    }
    .blog{
        margin-right: 10px;
    }
}





